
.form {
  position: absolute;
  top: 110px;
  left: 250px;
  width: 55%;
  margin: auto;
  padding: 10px;
  border: 1px solid none;
  box-shadow: 0 0 5px gray;
  border-radius: 5px;
  text-align: center;
  height: 520px;

}
::placeholder{
  color: rgb(206, 191, 220);
}
.checkbox, input[type="text"], textarea {
  border: 1px solid lightgrey;
  margin: 5px 0;
  padding: 5px;

}
.checkbox{
  position: absolute;
  left: 370px;
  width: 18px;
  top: 80px;
  height: 18px;
}
label{
  position: absolute;
  left: 400px;
  top: 85px;
}
.input1{
  position: absolute;
  left: 20px;
  text-align: right;
  width: 320px;
  margin-bottom: 35px;
  top: 70px;
  height: 30px;
}
.row1 {
  position: absolute;
  display: flex;
  top: 130px;
}
.row1 input{
  margin:  5px 10px;
  height: 25px;
}
.row2 {
  position: absolute;
  display: flex;
  top: 180px;
}
.row2 input{
  margin:  5px 10px;
  height: 25px;
}
input{
  border-radius: 10px;
    width: 280px;
  height: 30px;
  text-align: right;
}
label{
  color: lightgray;
}
button {
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}
 .input3{
  position: absolute;
  border-radius: 10px;
  width: 590px;
height: 30px;
top: 230px;
left: 20px;
 }

 .text-aria{
  position: absolute;
  border-radius: 10px;
  width: 590px;
height: 80px;
top: 300px;
left: 20px;
text-align: right;
max-height: 80px;
 }

 .avg{
  position: absolute;
  border-radius: 10px;
  width: 590px;
height: 30px;
top: 405px;
left: 20px;
text-align: right;
 }
.but{
  position: absolute;
  display: flex;
  left: 320px;
  top: 470px;
}
.but1{
  position: absolute;
  left: -100px;
  width: 120px;
  border-radius: 5px;
  height: 35px;
}
.but2{
  position: absolute;
  left: 30px;
  height: 35px;
  border-radius: 5px;
  width: 50px;
}
